.hero-section {
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.39);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $breakpoint-xs) {
        height: 390px;
    }

    h1 {
        font-size: 96px;
        font-weight: bold;
        text-transform: capitalize;
        text-align: center;
        color: $white;

        @media (max-width: $breakpoint-sm) {
            font-size: 39px;
        }
    }
}

.swiper--locations {
    background-color: $yellow;
    height: 500px;

    .swiper-wrapper {
        padding: 30px 0;

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;

            &-text {
                width: 50%;
                margin-right: 50px;
            }

            img {
                height: 100%;
                width: 30%;
            }
        }
    }

    .swiper-button-next:after, .swiper-button-prev:after {
        color: $white;
        font-size: 74px;
        font-weight: bold;
    }

    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: 21px;
    }
    
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: 21px;
    }

    .swiper-pagination-bullet {
        width: 30px;
        height: 3px;
        background: $white;
        border-radius: unset;
    }
}