.main-btn {
    color: white;
    font-size: 18px;
    border-bottom: 1px solid $white;
    transition: all 0.3s ease-in-out;
    padding: 5px;
    text-decoration: unset;

    &:hover {
        background-color: $white;
        color: $black;
    }
}